Day 7/hangman_project/__pycache__/hangman_art.cpython-310.pyc
Day 7/hangman_project/__pycache__/hangman_word.cpython-310.pyc
.vscode/settings.json
Day 8/Caesar_Cipher/__pycache__/art.cpython-310.pyc
Day 9/secret-auction/__pycache__/art.cpython-310.pyc
